test:
  executable: 'test.sh'
  return_stdout: true
  arguments_reflection: '{arg1} {arg2} {arg3}'
  arguments:
    arg1:
      required: true
      type: string
    arg2:
      required: false
      type: boolean
    arg3:
      required: false
      type: integer